body {
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  background-color: black;
}

.app-background {
  background-color: black;
  background-size: cover;
  background-position: center;
  height: 100%;
  width: 100%;
}

.head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 0px;
  font-size: larger;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: bolder;
  list-style-type: none;
}

.nav_list {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
  margin-top: 20px;
}

.nav_link {
  text-decoration: none;
  color: black;
  padding: 10px 15px;
}

.App {
  background-size: cover;
  background-position: center;
  height: 500px;
  background-size: 100%;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

.content {
  align-items: center;
  text-align: center;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: large;
  font-weight: bold;
  color: black;
}

.contact {
  text-align: center;
}

.items {
  align-items: center;
  text-align: center;
}

/* Responsive adjustments for App.css */
@media (max-width: 768px) {
  .head {
    flex-direction: column;
    padding: 10px;
  }

  .nav_list {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .nav_link {
    padding: 10px;
    text-align: center;
    width: 100%;
  }

  .app-background {
    background-size: cover;
    background-position: center;
  }

  .content, .contact, .items {
    text-align: center;
    padding: 20px;
  }
}
