/* Navbar container styles */
.navbar {
  padding: 10px 20px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  background-color: black;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 40px;
}

.navbar-logo {
  color: white;
  font-size: 24px;
  font-weight: bold;
}

.navbar-menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.navbar-item {
  margin-right: 20px;
}

.navbar-link {
  color: white;
  text-decoration: none;
  font-size: 16px;
  transition: color 0.3s ease;
}

.navbar-link:hover {
  color: #007BFF;
}

.active {
  font-weight: bold;
  border-bottom: 2px solid #007BFF;
}

/* Default state: hide hamburger icon */
.hamburger {
  display: none; /* Hide hamburger by default */
}

/* Responsive styles for smaller screens */
@media (max-width: 768px) {
  .navbar-menu {
    flex-direction: column;
    align-items: center;
    width: 100%;
    display: none; /* Hide menu by default */
  }

  .navbar-menu.open {
    display: flex; /* Show menu when open */
  }

  .navbar-item {
    margin: 10px 0;
  }

  .navbar-link {
    width: 100%;
    text-align: center;
    padding: 10px;
  }

  /* Hamburger menu styles for small screens */
  .hamburger {
    display: block; /* Show hamburger on small screens */
    background: none;
    color: white;
    font-size: 1.5rem;
    border: none;
    cursor: pointer;
    margin-left: 10px; /* Adjust for alignment */
  }
}
